<div class="row animated fadeIn">
  <div class="col-12">
    <div class="card">
      <div class="card-body">

        <input #input (keyup)="buscarMedico(input.value)" type="text" class="form-control"
          placeholder="Buscar médico..." />

      </div>
    </div>
  </div>
</div>


<div class="row animated fadeIn">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <h3 class="card-title">Médicos registrados (<small>{{totalRegistros}}</small>)</h3>

        <div class="text-right">
          <button type="button" [routerLink]="['/medico','nuevo']" routerLinkActive="router-link-active"
            class="btn waves-effect waves-light btn-rounded btn-primary">
            <i class="fa fa-plus-circle"></i> Crear Médico
          </button>
        </div>

        <table class="table table-hover">
          <thead>
            <tr>
              <th>Foto</th>
              <th>Médico</th>
              <th>Hospital</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let medico of medicos">
              <td>
                <img [src]="medico.img | imagen:'medico'" class="img-50 img-circle">
              </td>
              <td>
                {{medico.nombre}}
              </td>
              <td>
                {{medico.hospital.nombre}}
              </td>
              <td>
                <button [routerLink]="['/medico',medico._id]" routerLinkActive="router-link-active"
                  class="btn btn-primary m-1">
                  <i class="fa fa-save"></i>
                </button>
                <button (click)="borrarMedico(medico)" class="btn btn-danger">
                  <i class="fa fa-trash-o"></i>
                </button>
              </td>
            </tr>
          </tbody>
        </table>

      </div>
    </div>
  </div>
</div>
